body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #15202b;
    margin: 0;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 8px;
}

.page-title {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #1991db, #333, #1991db);
    margin: 20px 0;
}

.sidebar-box{
    height: 100vh;
    display: flex;
    position: fixed;
    left: 0;
    margin-left:1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.button_sidebar{
    cursor: pointer;
    transition: transform 0.3s;
}

#button_sidebar_logout{
    position: fixed;
    bottom: 40px;
}

#button_sidebar_logo{
    position: fixed;
    top: 20px;
}

.button_sidebar:hover{
    transform: scale(1.2);
}

.main-box{
    height: auto;
    margin-left: 50px; /*Scarto sidebar centramento*/
    margin-top: 90px;
    margin-bottom: 5rem;
    width: 65%;
    max-width: 750px;
    padding: 25px;
    background-color: #192734;
    border-radius: 15px;
    border: 1px #1991db groove;
    justify-content: center;
}
.post-box{
    border-radius: 15px;
    color: #f6f6f6;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
.post-box:hover{
    background-color: #213544 ;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 1rem;
}
.dateTime{
    font-size: 65%;
    color: rgba(255,255,255,0.5);
}
.post-header img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.post-header .username {
    font-weight: bold;
}
.post-content {
    margin-left: 65px; /* Adjust this value as needed */
    margin-top: 5px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 32, 43, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    /*top: 5rem;*/
    margin-left: 50px;;
    width: 40%;
    max-width: 650px;
    height: auto;
    background-color: #192734;
    border: 1px #1991db groove;
    border-radius: 15px;
    padding: 25px;
}
.post-comments{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-box{
    margin-left: 4rem;
    font-size: 90%;
}
.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.comment-header img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-header .username {
    font-weight: bold;
}

.comment-body{
    margin-left: 40px; /* Adjust this value as needed */
    margin-top: 5px;
    margin-bottom: 20px;
}

.add_comment-box{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 95%;
    height: 35px;
}
.add_comment-header img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.add_comment-content{
    display: flex;
    flex-grow: 1;
}
.add_comment-content input{
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
}
.add_comment-button {
    background-color: #1da1f2;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    margin-left: 10px;
    cursor: pointer;
}
.add_comment-button:hover {
    background-color: #1771a3;
}

/*Rimuovo l'effetto hover al post clonato*/
.post-box.modal-hover:hover {
    background-color: initial;
    cursor: default;
}
/*Contatore commenti*/
.comment-icon {
    margin-left: 65px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffffff;
}

.comment-icon img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.error {
    border: 2px solid darkred !important;
}

.button {
    background-color: #1da1f2;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button_error{
    margin-top: 15px;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #1991db;
}

.comment-header .dateTime {
    margin-left: 10px;
    font-size: 65%;
    color: rgba(255,255,255,0.5);
}