body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*100x100 della viewport*/
    background-color: #15202b;
    margin: 0;
}

.login-box {
    background-color: #192734;
    padding: 2.5rem;
    border-radius: 15px;
    width: 320px;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title img.logo {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #38444d;
    border-radius: 5px;
    background-color: #253341;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    background-color: #1da1f2;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1991db;
}

.forgot_password-box {
    text-align: center;
    margin-top: 1rem;
}

.forgot_password-box a {
    text-decoration: none;
    color: #1da1f2;
}

.forgot_password-box a:hover {
    text-decoration: underline;
}

.error-message {
    margin-bottom: 1rem;
    color: darkred;
    text-align: center;
}