body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% dell'altezza della viewport */
    background-color: #15202b;
    margin: 0;
}

.registration-box {
    background-color: #192734;
    padding: 2.5rem;
    border-radius: 15px;
    width: 345px;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
}

.registration-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-title img.logo {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    vertical-align: middle;
}

.form {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #38444d;
    border-radius: 5px;
    background-color: #253341;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

h4 {
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 5px;
}

.name_surname {
    display: flex;
    gap: 8px;
    width: 100%;
}

.name_surname input {
    flex: 1;
}

.radio_gender-box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-align: center;
}

.radio_gender-element {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

button {
    background-color: #1da1f2;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

button:hover {
    background-color: #1991db;
}

a {
    text-align: center;
    text-decoration: none;
    color: #1da1f2;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: darkred;
    text-align: center;
}