body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*100x100 della viewport*/
    background-color: #15202b;
    margin: 0;
}
.post-box {
    position: fixed;
    top: 5rem;
    margin-bottom: 5rem;

    width: 65%;
    max-width: 650px;
    padding: 25px;
    background-color: #192734;
    border-radius: 15px;
    border: 1px #1991db groove;
    justify-content: center;
    color: #f6f6f6;
}
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.post-header img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.post-header .username {
    font-weight: bold;
}
hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #1991db, #333, #1991db);
    margin: 20px 0;
}
.comment-box{
    margin-left: 4rem;
    font-size: 95%;
}
.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.comment-header img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-header .username {
    font-weight: bold;
}
.add_comment-box{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 95%;
    height: 80px;
}
.add_comment-header img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.add_comment-content{
    display: flex;
    flex-grow: 1;
}
.add_comment-content input{
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
}
.add_comment-button {
    background-color: #1da1f2;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    margin-left: 10px;
    cursor: pointer;
}
.add_comment-button:hover {
    background-color: #1771a3;
}


